<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/coastal/laidback-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/coastal/laidback-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/coastal/laidback-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/coastal/laidback-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/coastal/laidback-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/product-blends/coastal/laidback-banner-xl.jpg"
          alt="Coastal Blend"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Laid Back</h1>
            <h2>Coastal</h2>
            <a
              href="/categories?&blnds[]=Laid+Back"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Coastal style</h2>
      <P class="one-rem-text-desktop" >
        Coastal style is a collection of laid-back, cozy, and casual designs
        that reflect an easy-going way of life near the coast. This style being
        featured is typically considered American Coastal. This is a style that
        you can have at your beach house or can be perfect for a home that is
        inland and gives you the feeling that you’re near the beach. A key color
        is white, which is used within the furniture, the wall colors, as
        accents, moulding colors and more. Wall and ceiling finishes are
        normally painted wood paneling; however, the floors are often left
        natural using lighter colored woods. You should expect to bring in lots
        of natural light, warm whites and ocean hues, reflective surfaces, soft
        furnishings and top it off with nautical décor. It really gives off a
        simplistic elegance.
      </P>
      <P class="one-rem-text-desktop" >
        Mainly, with Modern Farmhouse, you would be mixing and matching vintage
        with new. This allows for the authenticity of Farmhouse style to be
        present, but the new furniture adds comfort and style into the mix.
        There is also the mix and match of natural elements, for instance wood
        and stainless steel.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Coastal style bedroom "
        src="/images/support-landing-page/product-blends/coastal/laidback-inset-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Coastal style</h2>
      <p>
        This coastal style bedroom brings in all the elements mentioned. From
        the white shiplap walls and moulding to the blue accents, your look will
        be completed and bring in all the natural light you were hoping for. For
        a look like this, check out the key elements below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <h2>Shiplap</h2>
      </a>
      <p>
        Reminiscent of boardwalk planks or ship frames, shiplap is a common
        feature in coastal homes. This also helps to add to the casual, yet
        tailored look of your beach retreat.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <img
          laidback-inset-1.jpg
          class="featurette-image img-fluid mx-auto"
          alt="Shiplap Coastal style home "
          src="/images/support-landing-page/product-blends/coastal/laidback-inset-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <h2>Doors</h2>
      </a>
      <p>
        Doors are always an understated feature. Adding crisp white doors allows
        for the airy feeling to continue from room to room and gives you beach
        vibe you’re looking for. Since doors are a necessity, use them as an
        accessory to your design.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Coastal style Doors"
          src="/images/support-landing-page/product-blends/coastal/laidback-inset-3-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <h2>Moulding</h2>
      </a>
      <p>
        White moulding adds on to the light, airy, and breezy feel of the
        Coastal style. Then, adding in different tones and textures allows your
        unique style to appear.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Laid+Back" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Coastal style Moulding"
          src="/images/support-landing-page/product-blends/coastal/laidback-inset-3.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Coastal style Home"
        src="/images/support-landing-page/product-blends/coastal/laidback-inset-4.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Interior</h2>
      <p>
        You’ll notice that the white carries throughout the entire home, with
        the shiplap, moulding, doors, mantels and more. It allows the airy
        feeling mentioned above to flow throughout the entire home.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
